{% load static %}
{% comment %}
tokony hisy:
* organigramme ny fiangonana
* fikambanana
* boite à idée
* fandaharana

{% endcomment %}
<input id="url_id" type="hidden" value="tab">
<input id="url" type="hidden" value="fiangonana">
<script type='text/javascript' src="{% static '/js/main.js' %}"></script>


<div id="fiangonana" class="container-fluid justify-content-center" style="background-color: rgba(0, 0, 250, 0.4);height:auto; animation-name:appear;animation-duration:2s" >
    <div class="row justify-content-center" style="padding-top:2%">
        NY FIANGONANA
    </div>
    <div class="row" style="padding-top:2%">
        <div class="col-3 scroll-tab" style="text-align:center"
             onclick="goto('fiangonana', 'fandaharana', null, 'content-context')">
            Fandahanarana
            <img src="{% static 'images/tab/play.png' %}" class="scroll-img">
        </div>
        <div class="col-2 scroll-tab" onclick="goto('fiangonana', 'fikambanana', null, 'content-context')">
            Fikambanana
            <img src="{% static 'images/tab/play.png' %}" class="scroll-img">
        </div>
        <div class="col-2 scroll-tab" onclick="goto('fiangonana', 'mombamomba', null, 'content-context')">
            Mombamomba
            <img src="{% static 'images/tab/play.png' %}" class="scroll-img">
        </div>
        <div class="col-2 scroll-tab" onclick="goto('fiangonana', 'ambaratonga', null, 'content-context')">
            Ambaratonga
            <img src="{% static 'images/tab/play.png' %}" class="scroll-img">
        </div>
        <div class="col-3 scroll-tab" style="text-align:center" onclick="goto('fiangonana', 'boite_a_idee', null, 'content-context')">
            Boîte à Idée
            <img src="{% static 'images/tab/play.png' %}" class="scroll-img">
        </div>
    </div>
</div>


<input type="hidden" id="view_sudo" value="{{ view }}">
<input type="hidden" id="id_sudo" value="{{ sudo.id }}">
<section id="content-context">

</section>

